<div class="sign-in">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#sign-in-form" role="tab" aria-controls="sign-in-form" data-toggle="tab">
        <%= _('Sign in') %>
      </a>
    </li>
    <!-- Remove sign up page -->
  </ul>

  <div class="tab-content">
    <div id="sign-in-form" role="tabpanel" class="tab-pane active">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'shared/sign_in_form' %>
        </div>
      </div>
    </div>
    <!-- Remove sign up form -->
  </div>
</div>
